# LSF Suites Inventory file
[local]
localhost
# Use this file to define the machines there roles
# A machine can belong to more than one role, but
# should only belong to one LSF_xxxxx role.

# LSF_Masters are the machines LSF will use to run the
# management processes.  For HA there must be 2 or more,
# and the shared filesystem must be available.
[LSF_Masters]
{{ master_list }}

# LSF_Servers are machines that LSF will use to run jobs.
# Expressions can be used to represent a number of
# machines e.g.
#    host[1:100]  ==  host1, host2, host3, ... host100
#    host[a:f]    ==  hosta, hostb, hostc, ... hostf
[LSF_Servers]
{{ worker_list }}

# LSF_Clients are machines that cannot run work, but can
# submit jobs via the CLI, and query the cluster.
# These are optional.
[LSF_Clients]


# GUI_Hosts are machines that will run the GUI and
# other supporting services.  A minimum of 1 machine
# needs to be a GUI host.  If there is no HA_shared_dir
# then this must be set to the LSF_Masters host.
# Use public (external) host name if the machine has
# multiple NICs.  Make sure the machine can be ping-able
# by using both its public IP address and the host
# name reported by the hostname command and vice versa.
[GUI_Hosts]
{{ deployer }}

# DB_HOST is optional, and is the machine that hosts the database
# used by the Application Center component in LSF Suite.
# However, this database is not configured for High Availability (HA).
# To enable HA for this database, manually create the database using MariaDB
# and configure it to be HA-ready, then set the JDBC_string parameter
# in the /opt/ibm/lsf_installer/playbook/lsf-config.yml file to specify the database connection.
#
# DB_HOST cannot be defined on a Power Ubuntu machine.
# For this platform, you must manually create the database
# by following the instructions in Knowledge Center, then
# set the JDBC_String parameter in the /opt/ibm/lsf_installer/playbook/lsf-config.yml file
# to specify the database connection.

[DB_Host]
{{ deployer }}

# GPFSIO_MONITOR is optional, and is the machine that hosts
# gpfsio-collector service.
# The machine must be a GUI host defined in GUI_Hosts.
[GPFSIO_MONITOR]
